<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherWFP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LauncherWFP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <LauncherWFP.Properties.Settings>
            <setting name="RctInstallDir" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenRctDownloadDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenRctExtractDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpdateToLatest" serializeAs="String">
                <value>False</value>
            </setting>
        </LauncherWFP.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LauncherWFP.Properties.Settings>
            <setting name="OpenRctApiSecret" serializeAs="String">
                <value>NXgFj50WlithAa5sK9Z3WGAGnboyJTrwRHcaNd78vAq6LvywEyzAfahDlFb5zCCqjOB62JfxkGE5bcCQLbr0mIDHoPMYropLd0Sg</value>
            </setting>
        </LauncherWFP.Properties.Settings>
    </applicationSettings>
</configuration>